@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="app.scss" type="text/css" />
</head>

<div class="text-center">
    <h1 class="display-4">Welcome to the Coffee Shop Registration Lab!</h1>
    <hr/>
    <p>This lab was assigned to Spencer Nolton by the Grand Circus After Hours C# Coding Bootcamp.
        The goal of the lab is to allow the user to access a registration page via the navigation bar at the top of the screen.
        Once the user clicks register, it should redirect them to a registration page where they can enter their first name, last name, email, and password.
        This information is then stored in a database, and a welcome message is displayed. Check it out!
    </p>
</div>
<div class="no-padding">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTptQzAzCWu5iKrj-u78eJFqHf2tr1wN_Yz2A&usqp=CAU" />
</div>

