@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form method="register" asp-action="AddUserToDb">
    First Name: <input type="text" placeholder="First" name="FirstName" maxlength="30" />
    Last Name: <input type="text" placeholder="Last" name="LastName" maxlength="30" />
    Email: <input type="text" placeholder="Email" name="Email" maxlength="50" />
    Password: <input type="password" placeholder="Password" name="Password" required maxlength="30" />

    <input type="submit" value="Register" />
</form>